<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.AdcListMapper">
    
    <sql id="sqlSearch">
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                    UPPER(TITLE) LIKE '%' || UPPER(#{searchKeyword}) || '%'
                    OR UPPER(DETAIL) LIKE '%' || UPPER(#{searchKeyword}) || '%'
                )
            </if>
        </where>
    </sql>
    
    <select id="selectCount" parameterType="searchDto" resultType="int">
        SELECT COUNT(*) 
        FROM ADMIN_COMMUNITY
        <include refid="sqlSearch" />
    </select>
    
    <select id="selectList" parameterType="searchDto" resultType="map">
        SELECT A.*, ROWNUM AS RNUM
        FROM (
            SELECT 
                AC.SEQ,
                AC.ADMIN_SEQ,
                AD.NAME,
                AC.TITLE,
                AC.DIVISION,
                AC.DETAIL,
                TO_CHAR(AC.REG_DT, 'YYYY-MM-DD') AS REG_DT
            FROM ADMIN_COMMUNITY AC
            LEFT JOIN ADMIN AD ON AC.ADMIN_SEQ = AD.SEQ
            <include refid="sqlSearch" />
            ORDER BY AC.SEQ DESC
        )A OFFSET (#{pageIndex} - 1) * #{pageSize} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <insert id="insertPost" parameterType="AdcPostDto">
        INSERT ALL 
            INTO SEQ_MANAGEMENT(
                SEQ, TABLE_NM, REG_DT
            ) VALUES (
                SEQ.NEXTVAL, 'ADMIN_COMMUNITY', SYSDATE
            )
            INTO ADMIN_COMMUNITY (
                SEQ, ADMIN_SEQ, TITLE,  DIVISION, DETAIL, REG_DT
            ) VALUES (
                SEQ.CURRVAL, #{adminSeq}, #{title}, #{division}, #{detail}, SYSDATE
            )
        SELECT * FROM DUAL
    </insert>

    <select id="selectPost" parameterType="Long" resultType="map">
        SELECT 
            AC.SEQ as "seq",
            AC.ADMIN_SEQ as "adminSeq",
            AC.TITLE as "title",
            AD.NAME as "name",
            AC.DIVISION as "division",
            AC.DETAIL as "detail",
            TO_CHAR(AC.REG_DT, 'YYYY-MM-DD') AS "regDt"
        FROM 
            ADMIN_COMMUNITY AC
        LEFT JOIN ADMIN AD ON AC.ADMIN_SEQ = AD.SEQ
        WHERE 
            AC.SEQ = #{seq}
    </select>
    <delete id="deletePost" parameterType="Long">
        BEGIN
            DELETE FROM ADMIN_COMMUNITY WHERE SEQ = #{seq};
            DELETE FROM SEQ_MANAGEMENT WHERE SEQ = #{seq} AND TABLE_NM = 'ADMIN_COMMUNITY';
        END;
    </delete>
    
</mapper>