<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.AdminMapper">

    <select id="selectUse" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM ADMIN
		WHERE EMAIL = #{email}
	</select>
	
	<sql id="sqlSearch">
		<where>
			<if test='text != null and text != ""'>
				<choose>
					<when test='select == "1"'>
						AND EMAIL LIKE '%'||TRIM(#{text})||'%'
					</when>
					<when test='select == "2"'>
						AND NAME LIKE '%'||TRIM(#{text})||'%'
					</when>
					<when test='select == "3"'>
						AND PHONE LIKE '%'||TRIM(REPLACE(#{text}, '-', ''))||'%'
					</when>
				</choose>
			</if>
		</where>
	</sql>
	
	<select id="selectCount" parameterType="searchDto" resultType="int">
		SELECT COUNT(*) FROM ADMIN
		<include refid="sqlSearch" />
	</select>

	<select id="selectList" parameterType="searchDto" resultType="map">
		SELECT SEQ, EMAIL, NAME, GET_PHONE_FORMAT(PHONE) AS PHONE, GET_CODE_NAME('2', DIVISION) AS DIVISION, POST, 
			TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT, GET_CODE_NAME('1', USE_YN) AS USE_YN, 
			ROWNUM AS RNUM
		FROM (
			SELECT SEQ, EMAIL, NAME, PHONE, DIVISION, POST, REG_DT, USE_YN
			FROM ADMIN
			<include refid="sqlSearch" />
			ORDER BY SEQ DESC
		) A OFFSET (#{pageIndex} - 1) * #{pageSize} ROWS FETCH NEXT #{pageSize} ROWS ONLY
	</select>
	
	<insert id="insertOne" parameterType="adminDto">
		INSERT ALL 
			INTO SEQ_MANAGEMENT(
				SEQ, TABLE_NM, REG_DT
			) VALUES (
				SEQ.NEXTVAL, #{table_nm}, SYSDATE
			)
			INTO ADMIN (
				SEQ, EMAIL, PASSWORD, NAME, PHONE, DIVISION, REG_DT, USE_YN
			) VALUES (
				SEQ.NEXTVAL, #{email}, #{password}, #{name}, #{phone}, #{division}, SYSDATE, '0'
			)
		SELECT * FROM DUAL
	</insert>

	<select id="selectOne" parameterType="String" resultType="map">
		SELECT SEQ, EMAIL, NAME, PHONE, DIVISION, POST, 
			TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT, USE_YN
		FROM ADMIN
		WHERE SEQ = #{seq}
	</select>
	
	<select id="selectUseList" resultType="map">
		SELECT SEQ, NAME
		FROM ADMIN 
    	WHERE DIVISION = 'admin' AND USE_YN = 1
	</select>

	<update id="updateOne" parameterType="adminDto">
		UPDATE ADMIN SET
			NAME = #{name},
			PHONE = #{phone},
			DIVISION = #{division},
			USE_YN = #{use_yn}
		WHERE SEQ = #{seq}
	</update>

	<update id="updatePassword" parameterType="adminDto">
		UPDATE ADMIN SET
			PASSWORD = #{password}
		WHERE SEQ = #{seq}
	</update>
</mapper>