<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.CalendarMapper">


<select id="selectCount" parameterType="SearchDto" resultType="int">
        SELECT COUNT(*) 
          FROM CALENDAR A, CLASS B 
        WHERE A.CLASS_SEQ = B.SEQ  
</select>
<select id="calendarList" resultType="map">
    SELECT 
        A.CLASS_SEQ,
        A.DAILY,
        A.STUDENT_SEQ,
        B.NAME AS STUDENT_NAME,
        GET_CODE_NAME('7', A.DIVISION) as DIVISION,
        A.MEMO,
        D.NAME AS ADMIN_NAME,
        GET_CODE_NAME('8', C.ROOM) AS ROOM
    FROM CALENDAR A
    JOIN STUDENT B ON A.STUDENT_SEQ = B.SEQ
    JOIN CLASS C ON A.CLASS_SEQ = C.SEQ
    JOIN ADMIN D ON C.ADMIN_SEQ = D.SEQ
    WHERE 1=1
    AND EXTRACT(YEAR FROM A.DAILY) = #{year}
    AND EXTRACT(MONTH FROM A.DAILY) = #{month}
    AND (
        (D.DIVISION = 'system') -- system 권한일 경우 전체 조회
        OR 
        (D.DIVISION = 'admin' AND D.SEQ = #{seq}) -- admin 권한일 경우 자신의 반만 조회
    )
</select>
<select id="calendarread" parameterType="SeqDto" resultType="map">
   SELECT 
        C.SEQ AS CLASS_SEQ,
        B.SEQ AS STUDENT_SEQ,
        B.NAME AS STUDENT_NAME,
        TO_CHAR(A.DAILY, 'YYYY-MM-DD') AS DAILY,
        GET_CODE_NAME('7', A.DIVISION) AS DIVISION,
        A.MEMO,
        D.NAME AS ADMIN_NAME,
        D.SEQ AS ADMIN_SEQ,
        D.DIVISION AS ADMIN_DIVISION
    FROM CALENDAR A
    JOIN STUDENT B ON A.STUDENT_SEQ = B.SEQ
    JOIN CLASS C ON A.CLASS_SEQ = C.SEQ
    JOIN ADMIN D ON C.ADMIN_SEQ = D.SEQ
    WHERE A.STUDENT_SEQ = #{seq}
</select>

</mapper>
