<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.LectureDocumMapper">

<select id="documentList" parameterType="SearchDto" resultType="map">
    SELECT    
        SEQ,
        GET_LECTURE_NAME(LECTURE_SEQ) AS LECTURE_NAME,
        TITLE,
        GET_CODE_NAME('10', DIVISION) AS DIVISION_NAME,
        DETAIL,
        TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT
    FROM LECTURE_DOCUMENT A
    ORDER BY REG_DT DESC
</select>

<select id="selectCount" parameterType="SearchDto" resultType="int">
        SELECT COUNT(*) FROM LECTURE_DOCUMENT

</select>

<insert id="documentInsert" parameterType="LecDocumentDto">
    INSERT ALL 
		INTO SEQ_MANAGEMENT(
			SEQ, TABLE_NM, REG_DT
		) VALUES (
			SEQ.NEXTVAL, #{table_nm}, SYSDATE
		)
        INTO LECTURE_DOCUMENT (
            SEQ, LECTURE_SEQ, TITLE, DIVISION, DETAIL, REG_DT
        ) VALUES(
            SEQ.NEXTAVAL, #{lecture_seq},#{title},#{division},#{detail},SYSDATE
        )
    SELECT * FROM DUAL

</insert>

<insert id="attachInsert">
    INSERT ALL
        INTO SEQ_MANAGEMENT(
			SEQ, TABLE_NM, REG_DT
		) VALUES (
			SEQ.NEXTVAL, #{table_nm}, SYSDATE
	    )INTO ATTACH(
            SEQ, ROW, FILE_PATH, FILE_ORIGIN_NAME, FILE_SAVE_NAME, USE_YN
        ) VALUES(
            SEQ.NEXTVAL, #{row}, #{file_path}, #{file_origin_name}, #{file_save_name}, 0
        )
    SELECT * FROM DUAL

</insert>

<select id="documentRead" parameterType="String" resultType="map">
    SELECT 
       A.*,
       GET_LECTURE_NAME(LECTURE_SEQ) AS LECTURE_NAME
    FROM LECTURE_DOCUMENT A
    WHERE SEQ = #{seq}
 </select>

<update id="documentUpdate" parameterType="LecDocumentDto">
       
</update>

<delete id="documentDelete" parameterType="Long">
        
</delete>

</mapper>