<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.LectureMapper">

    <sql id="sqlSearch">
		<where>
			<if test='text != null and text != ""'>
				<choose>
					<when test='select == "1"'>
						AND EMAIL LIKE '%'||TRIM(#{text})||'%'
					</when>
					<when test='select == "2"'>
						AND NAME LIKE '%'||TRIM(#{text})||'%'
					</when>					
				</choose>				
			</if>
		</where>
	</sql>

    <select id="selectCount" parameterType="SearchDto" resultType="int">
        SELECT COUNT(*) FROM LECTURE
        <include refid="sqlSearch" />
    </select>

    <select id="selectList" parameterType="SearchDto" resultType="map">
      SELECT 
            A.SEQ,
            A.NAME AS LECTURE_NAME,
            B.NAME AS ADMIN_NAME,
            TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT
        FROM LECTURE A, ADMIN B
        WHERE A.ADMIN_SEQ=B.SEQ
        <include refid="sqlSearch"/>
        ORDER BY A.SEQ DESC
    </select>

    <insert id="insertLecture" parameterType="LectureDto">
        INSERT ALL INTO 
        SEQ_MANAGEMENT(
             SEQ, 
             TABLE_NM, 
             REG_DT) 
        VALUES ( 
             SEQ.NEXTVAL, 
             #{table_nm}, 
             SYSDATE )
        INTO LECTURE(
             SEQ,
             ADMIN_SEQ, 
             NAME, 
             REG_DT ) 
        VALUES(
            SEQ.NEXTVAL,
            #{admin_seq}, 
            #{name}, 
            SYSDATE ) 
        SELECT * FROM DUAL
    </insert>

    <select id="selectLectureRead" parameterType="String" resultType="map">
        SELECT 
            A.*,
            GET_ADMIN_NAME(A.ADMIN_SEQ) AS ADMIN_NAME 
        FROM LECTURE A
        WHERE SEQ = #{seq}
    </select>

    <update id="updateLecture" parameterType="LectureDto">
        UPDATE LECTURE 
        SET name = #{name} 
        WHERE SEQ = #{seq}
    </update>

    <delete id="deleteLecture" parameterType="Long">
        DELETE FROM LECTURE 
        WHERE SEQ = #{seq}
    </delete>

</mapper>