<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.QuestionMapper">
	
	<sql id="sqlSearch">
		<where>
			<if test='text != null and text != ""'>
				<choose>
					<when test='select == "1"'>
						AND TITLE LIKE '%'||TRIM(#{text})||'%'
					</when>
				</choose>
			</if>
		</where>
	</sql>

    <select id="selectCount" parameterType="searchDto" resultType="int">
        SELECT COUNT(*) FROM QUESTION
        <include refid="sqlSearch" />
    </select>

	<select id="selectList" parameterType="searchDto" resultType="map">
		SELECT SEQ, TITLE, DETAIL, ADMIN_SEQ, GET_ADMIN_NAME(ADMIN_SEQ) AS ADMIN_NAME, TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT, 
			ROWNUM AS RNUM
		FROM (
			SELECT SEQ, TITLE, DETAIL, ADMIN_SEQ, REG_DT
			FROM QUESTION
			<include refid="sqlSearch" />
			ORDER BY SEQ DESC
		) A OFFSET (#{pageIndex} - 1) * #{pageSize} ROWS FETCH NEXT #{pageSize} ROWS ONLY
	</select>
	
	<insert id="insertOne" parameterType="questionDto">
		<selectKey resultType="String" keyProperty="seq" order="BEFORE">
			SELECT SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT ALL 
			INTO SEQ_MANAGEMENT(
				SEQ, TABLE_NM, REG_DT
			) VALUES (
				#{seq}, #{table_nm}, SYSDATE
			)
			INTO QUESTION (
				SEQ, TITLE, DETAIL, ADMIN_SEQ, REG_DT
			) VALUES (
				#{seq}, #{title}, #{detail}, '${@com.galaxy.util.HttpLoginUtil@getSeq()}', SYSDATE
			)
		SELECT * FROM DUAL
	</insert>

	<select id="selectOne" parameterType="String" resultType="map">
		SELECT SEQ, TITLE, DETAIL, ADMIN_SEQ,
			GET_ADMIN_NAME(ADMIN_SEQ) AS ADMIN_NAME, 
			TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT
		FROM QUESTION
		WHERE SEQ = #{seq}
	</select>

	<update id="updateOne" parameterType="questionDto">
		UPDATE QUESTION SET 
			TITLE = #{title},
			DETAIL = #{detail}
		WHERE SEQ = #{seq}
	</update>

</mapper>