<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.SurveyItemMapper">

    <select id="selectList" parameterType="surveyDto" resultType="map">
		SELECT A.QUESTION_SEQ, A.SORT, A.TITLE, A.DIVISION, GET_CODE_NAME(17, A.DIVISION) AS DIVISION_NAME, A.ITEM, B.RESULT
		FROM QUESTION_ITEM A, (SELECT * FROM SURVEY_RESULT WHERE STUDENT_SEQ = #{student_seq}) B
		WHERE A.QUESTION_SEQ = B.QUESTION_SEQ(+)
		AND A.SORT = B.SORT(+)
		AND A.QUESTION_SEQ = #{question_seq}
		ORDER BY A.SORT
    </select>

</mapper>