<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.TimeTableMapper">

<select id="selectCount" parameterType="SearchDto" resultType="int">
     SELECT COUNT(*) 
        FROM TIMETABLE T
        JOIN CLASS C ON T.CLASS_SEQ = C.SEQ
        LEFT JOIN ADMIN D ON C.ADMIN_SEQ = D.SEQ
     WHERE 1=1
        AND (
            EXISTS (SELECT 1 FROM ADMIN WHERE SEQ = #{seq} AND DIVISION = 'system')
            OR 
            (D.SEQ = #{seq} AND DIVISION = 'admin')
        )       
</select>

<select id="tablelist" parameterType="SearchDto" resultType="map">
    SELECT A.CLASS_SEQ,
        GET_CLASS_NAME(A.CLASS_SEQ) AS CLASS_NAME,
        GET_ADMIN_NAME(B.ADMIN_SEQ) AS ADMIN_NAME,
        A.DAILY,
        A.STATUS
    FROM TIMETABLE A, CLASS B
    WHERE A.CLASS_SEQ = B.SEQ
    AND EXTRACT(YEAR FROM A.DAILY) = #{year}
    AND EXTRACT(MONTH FROM A.DAILY) = #{month}
    <if test='@com.galaxy.util.HttpLoginUtil@getDivision() == "admin"'>
        AND B.ADMIN_SEQ = #{seq}
    </if>
</select>

<select id="calendarDay" parameterType="String" resultType="map">
    SELECT * FROM TIMETABLE
</select>

<update id="statusMod" parameterType="timetableDto">
      MERGE INTO TIMETABLE 
    USING DUAL ON (DAILY = #{daily} AND CLASS_SEQ = #{class_seq})
    WHEN MATCHED THEN UPDATE SET STATUS = #{status}
    WHEN NOT MATCHED THEN INSERT (CLASS_SEQ, DAILY, STATUS) VALUES (#{class_seq}, #{daily}, #{status})
</update>

</mapper>