<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.mapper.UserMapper">

    <select id="selectUseOne" parameterType="string" resultType="userDto">
        SELECT SEQ, EMAIL, PASSWORD, NAME, PHONE, 
            DIVISION, POST, REG_DT, USE_YN
        FROM ADMIN
        WHERE EMAIL = #{email}
        AND USE_YN = 1
    </select>

</mapper>